/*-https://jigsaw.w3.org/css-validator/#validate_by_input-*/
/*-//validator.w3.org/about.html-*/
:root{
    --blue: #1C3D59;
    --crimson: #75190F;
    --lime: #0BFE2C;
    --purple: #381D2A;
    --white: white;
}
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1.2em;
}
#valley, .temple{
    display: block;
    align-items: center;
    padding: 10px;
}
#valley img, .temple img{
    width: 100%;
}
.right, .left{
    background-color: var(--blue);
    color: #ffffff;
    text-align:  center;
    padding: 10px;
}
nav a{
    padding: 1.5em;
    text-align: center;
    padding: 1em;
    text-decoration: none;

    font-size: 0.9em;
    min-width: 120px;
}
nav *:nth-child(1)
{
    margin-right: 2rem;
}
.button-box{
    text-align:  center;
    left: 180px;
    margin: 45px; 
    position: absolute;
    bottom: 5px;
}
.join{
    background-color: var(--crimson);
    padding: 14px;  
    border-radius: 2px;
    font-size: 14px;
    color: var(--white);
}
.join:hover{
    color: var(--crimson);
    background-color: #ffffff;
}

.navigation a:hover{
    background-color: white;
    color:#381D2A
}
p {
    font-size: 1.5em;
    padding: 35px;
    text-align: center;
}
section.card{
    text-align: left;
    height: 100%;
    background-color: var(--blue);
    color: white;
    border-radius: 4px;
    margin: 10px;
}

.card p{
    text-align: left;
    margin: 15px;
}
.card h3{
    text-align: left;
    margin: 5px;
}
.hero {
	position: relative;
}
.hero-img{
    width: 100%;
    position: relative;
}


header a{
    text-decoration: none;
    color: white;
}
nav a:hover{
    color:#75190F;
    background-color: white;
}
.header{
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: #381D2A;

}
.socials{
    background-color: #381D2A;
    align-items: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 1rem;
}
.socials img{
    
    width: 2em;
    margin: 2px;
}
#menu::before {
    content: "≡";
    font-size: 2rem;
}
.navigation {
	list-style: none;
	margin: 0;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}

.responsive li {
	display: block;
}
.navigation a {
	display: block;
	text-align: left;
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-weight: 700;
	transition: 0.5s;
}
.navigation a:hover, .navigation a:active {
	color: black;
	background-color: white;
}


.responsive #menu::before {
	content: "❌";
}
form{
    border: 35px;
    max-width: 480px;
    
}
div.form{
    align-items: center;
    display: grid;
    padding: 35px;
}
div.form input{
    width: 35%;
}
#formmessage {
	display: none;
	text-align: center;
	background-color: red;
	color: #fff;
	padding: 0.5rem;
}
#user-date{
    text-align: center;
    color: var(--crimson);
    font-size: 15px;
}
.co-menu {
	margin: 1rem auto;
	border: 1px solid var(--purple);
	padding: 1rem;
	background-color: var(--blue);
	text-align: center;
}

.co-menu button {
	padding: 1rem;
	font-weight: 700;
}
.co-grid a {
    font-family: "Caveat", cursive;
    text-decoration: none;
    color: var(--blue);
}
.co-grid p {
    font-size: 15px;
    padding: 10px;
}
.co-grid img{
    height: 100px;
    max-width: 100%;
}
section {
	border: 1px solid black;
	padding: 0.5rem;
    height: auto;
    margin: 0.5rem;
	background-color: var(--lime);
}
caption{
    font-size: 9px;
}
.co-grid section {
    flex-direction: column;
    text-align: center;
}

.co-list {
	display: flex;
	flex-direction: column;
}
.co-list caption{
    display: none;
}

.co-list section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 0;
    font-size: 7px;
	padding: 0.25rem;
}



.co-list section img {
	display: none;
}

.co-list section a {
	font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--blue);
	font-family: Roboto, Helvetica, sans-serif;
}
.co-list section:nth-child(even) a {

    color: var(--purple);
}


.co-list section:nth-child(even) {
	background-color: var(--crimson);
    color: var(--purple);
}


@media only screen and (min-width: 36em){
    .socials img{
        width: 2em;
    }

    .hover:hover{
        box-shadow: 0 0 50px #333;
        opacity: .5;
    }

    .socials img:hover{
    
        width: 3em;
    }
    nav a{
        font-size: 1.2em;
    }
    nav{
        flex-direction: row-reverse;
        justify-content: right;
        gap: 3rem;
    }
    div.important{
        display: grid;
        grid-template-columns: 3fr 7fr;
        margin: 10px;
        padding: 15px;
    }
    .lower{
        display: grid;
        grid-template-columns: 3fr 3fr 3fr;
        margin: 10px;
        padding: 15px;
    }
    .lower .card{
        background-color: var(--lime);
        color: var(--crimson);
    }
    .join{
        padding: 20px;  
        font-size: 20px;
    }
    .socials{
        align-items: center;
        display: flex;
        align-items: center;
        background-color: #381D2A;
        text-decoration: none;
        padding: 1rem;
    }
    #valley, .temple{
        display: flex;
        align-items: center;
        padding: 10px;
    }
    #valley img, .temple img{
        width: 75%;
    }
    .right, .left{
        background-color: var(--blue);
        color: #ffffff;
        text-align:  center;
        margin: 45px; 
        position: absolute;
    }
    .right:hover, .left:hover{
        opacity: .6;
        transform: scale(1.1);
    }
    .left{
        left: 600px;
        
    }
    .right{
        right: 600px;
    
    }

    .navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
    form{
        align-items: center;
        display: grid;
        padding: 35px;
        width: 50%;
        padding-left: 380px;
    }
    div.formhalf{
        align-items: center;
        display: grid;
        text-align: right;
        width: 60%;
        gap: 5px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    div.form input{
        width: auto;
    }
    .co-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        align-items: center;
    }
    
    
    
    .co-grid section > * {
        margin: 0.1rem;
    }
    .co-list section > * {
        margin: 0 1rem;
    }

    .co-list section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 0;
        font-size: 10px;
        padding: 0.25rem;
    }
    
    
    
    


    
}
