@import url('https://fonts.google.com/');

nav{
    background-color: black;
    
}
nav a:link, nav a:visited {
    color: white;
    text-decoration: none;
}

section p, section a{
    font-size:  15px;
    padding: 6px
}
header {
    background-color: rgb(19, 67, 109);
    color: white;
}
h1{
    text-align: center;
    font-family: 'Helvetica';
}

footer{
    padding: 25px 50px; 
    margin-top: 0;  
    font-family: 'Raleway';

    background-color: rgb(19, 67, 109);
    
    color: white;
       
}
main{
    max-width: 760px;
    margin: 0 auto;
}
div.one{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
    padding: 15px;
}
div.two{
    display: grid;
}
section.card{
    background-color: white;
    text-align: left;
    height: 100%;
    border-radius: 4px;
    margin: 10px;
    box-shadow: 1px 6px 12px black;
    font-family: 'Arial';
}

section.card h3{
    background-color: rgb(19, 67, 109);
    text-align: center;
    margin-top: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: white;
    font-family: 'Raleway';
}
section.layout{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center; 
}
footer p{
    text-align: center;
}
p.highlight{
    color: yellow;
}
#information{
    font-size: 1em;
    text-align: center;
}
img { 
    max-width:  100%;
}
.user{
    width: 250px;
    display: grid;
    box-shadow: 1px 6px 12px black;
}
.herolabel p {
	margin: 0;
    text-align: center;
	padding: .20rem;
	font-weight: 700;
	font-size: 2rem;
	font-family:"Raleway";
}
