nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

nav a {
    text-decoration: none;
    padding: 1rem;
}
nav *:nth-child(1)
{
    margin-right: 2rem;
}
nav a:hover{
    background-color: #ffff;
    color: rgb(19, 67, 109);
}
section p, section a{
    font-size:  15px;
    padding: 6px
}
header {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 8fr 1fr;
    justify-content: space-around; 
    align-items: center; 
}
h1{
    text-align: center;
}

footer{
    padding: 25px 50px; 
    margin-top: 0;  
       
}
main{
    max-width: 760px;
    margin: 0 auto;
}
div.one{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
    padding: 15px;
}
div.two{
    display: grid;
}
section.card{
    text-align: left;
    height: 100%;
    border-radius: 4px;
    margin: 10px;
}

section.card h3{
    text-align: center;
    margin-top: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

}
section.layout{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center; 
}
footer p{
    text-align: center;
}
#information{
    font-size: 1em;
    text-align: center;
}
img { 
    max-width:  100%;
}
.user{
    width: 250px;
    display: grid;
}
img.flag{
    width: 75px;
    margin: 8px;
}

#menu::before {
    content: "≡";
    font-size: 2rem;
}
.navigation {
	list-style: none;
	margin: 0;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}
.navigation a:hover, .navigation a:active {
	color: black;
	background-color: white;
}


.responsive li {
	display: block;
}

.responsive #menu::before {
	content: "❌";
}
@media only screen and (min-width: 36em){
    nav{
        flex-direction: row-reverse;
        justify-content: right;
        gap: 3rem;
    }
    div.one, div.two
    {
       display: grid;
    }

    .navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
}
