:root{
    --blue:rgb(19, 67, 109);
    --red:rgb(147, 11, 39);
}
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}
button{
    width: 100%;
}
form {
	max-width: 480px;
	margin: 1rem;
    color: white;
    text-align: right;
	padding: 0.5rem;
	background-color: var(--blue);
	display: grid;
	align-items: center;
}

.form {
	max-width: 400px;
	margin: 1rem;
    color: white;
    text-align: right;
	padding: 0.5rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}
#formmessage {
	display: none;
	text-align: center;
	background-color: red;
	color: #fff;
	padding: 0.5rem;
}

nav a {
    text-decoration: none;
    padding: 1rem;
    text-align: center;
}
nav *:nth-child(1)
{
    margin-right: 2rem;
}
nav a:hover{
    background-color: #ffff;
    color: var(--blue);
}
section p, section a{
    font-size:  15px;
    padding: 6px
}
header {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 8fr 1fr;
    justify-content: space-around; 
    align-items: center; 
}
h1{
    text-align: center;
}

footer{
    padding: 25px 50px; 
    margin-top: 0;  
       
}
main{
    max-width: 760px;
    margin: 0 auto;
}

section.card{
    text-align: left;
    height: 100%;
    border-radius: 4px;
    margin: 10px;
}

section.card h3{
    text-align: center;
    margin-top: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    
}
section.layout{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center; 
}
footer p{
    text-align: center;
}
#information{
    font-size: 1em;
    text-align: center;
}
img { 
    max-width:  100%;
}
.user{
    width: 100%;
}
.flag{
    width: 75px;
    margin: 8px;
}
.hero {
	position: relative;
}

.hero img {
	width: 100%;
	height: 450px;
	object-fit: cover;
}
.herolabel {
    position: absolute;
    bottom: 30px;
    right: 30px;
    background: radial-gradient(#fff, #9eacee);
    border: 1px solid rgba(0,0,0,.75);
    padding: 1.5rem;
    opacity: 0.75;
}



#menu::before {
    content: "≡";
    font-size: 2rem;
}
.navigation {
	list-style: none;
	margin: 0;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
    
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}
.navigation a:hover, .navigation a:active {
	color: black;
	background-color: white;
}
div.one {
    display: block;
}



.responsive li {
	display: block;
}

.responsive #menu::before {
	content: "❌";
}


#r {
	margin-bottom: 0;
	padding-bottom: 0;
	width: 98%;
}

table {
	margin: 10px auto;
	border: thin solid var(--border);
	box-shadow: 0 0 7px var(--shadow);
	border-collapse: collapse;
}

caption {
  padding: 10px;
  caption-side: bottom;
	color: var(--back);
	font-size: .85rem;
}

tr:first-child th {
	background-color: white;
	color: var(--blue);
}

th, td {
	padding: 7px 15px;
	border: 1px solid var(--blue);
}

th {
	background-color: var(--blue);
	font-size: larger;
}

td {
	text-align: center;
}
tbody tr:nth-child(even) {
	background-color: var(--red);
    color: white;
}




@media only screen and (min-width: 36em){
    nav{
        flex-direction: row-reverse;
        justify-content: right;
        gap: 3rem;
    }
    div.one, div.two
    {
       display: grid;
    }

    .navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
    div.one{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 10px;
        padding: 15px;
    }
    div.two{
        display: grid;
    }
    div.three{
        display: grid;
    }
    iframe{
        width:600px; 
        display:grid;
        height:450px;
    }
    .user{
        width: 250px;
        display: grid;
    }

}
